<p class="text-2xl font-bold leading-7 text-cyan-500">{{message}}</p>
<p class="text-2xl font-bold leading-7" style="color:red">{{error}}</p>
<br>

<form  method="post" action="/api/sessions/login" >
      <h2 class="text-2xl text-center font-semibold leading-7 text-gray-900">Formulario de Login</h2>
          <label for="email" class="block text-sm font-medium leading-6 text-gray-900">Email</label>
          
            <input id="email" name="email" type="email" placeholder="   Correo electr칩nico" autocomplete="email" class="block ps-2 w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 mb-4">
            <input type="password" placeholder="   Contrase침a" name="password"  autocomplete="password" class="block ps-2 w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"/>

    <button class="rounded-md bg-indigo-500 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500 mt-2">Loguearse</button>
    

</form>

<br><br>
<hr/><br>
<a class="rounded-md mt-2 bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600" href="/forgot-password">Olvide mi Contrase침a</a>

<br><br>
<hr/><br>
<a class="rounded-md mt-2 bg-indigo-700 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-700" href="/api/sessions/loginGithub">
       Iniciar sesi칩n con GitHub
</a>
